# NOTE: We only want to ignore *some* of the ape-config.yaml files in the projects.
tests/integration/cli/projects/with-dependencies/renamed_contracts_folder/ape-config.yaml
tests/integration/cli/projects/with-dependencies/containing_sub_dependencies/sub_dependency/ape-config.yaml
tests/integration/cli/projects/only-dependencies/dependency_in_project_only/ape-config.yaml
