on: push

name: Commit Message

# NOTE: Skip check on PR so as not to confuse contributors
# NOTE: Also install a PR title checker so we don't mess up merges
jobs:
    commit-msg:

        runs-on: ubuntu-latest

        steps:
        - uses: actions/checkout@v2
          with:
              fetch-depth: 0

        - name: Setup Python
          uses: actions/setup-python@v2
          with:
              python-version: 3.8

        - name: Install Dependencies
          run: pip install .[dev]

        - name: Check commit history
          run: cz check --rev-range $(git rev-list --all --reverse | head -1)..HEAD
