name: Docs

on:
  push:
    branches: [main]
  release:
    types: [released]
  pull_request:
    types: [opened, synchronize]

concurrency:
  # Cancel older, in-progress jobs from the same PR, same workflow.
  # use run_id if the job is triggered by a push to ensure
  # push-triggered jobs to not get canceled.
  group: ${{ github.workflow }}-${{ github.head_ref || github.run_id }}
  cancel-in-progress: true

jobs:
  docs:
    runs-on: ubuntu-latest

    permissions:
      contents: write

    steps:
    - uses: actions/checkout@v5

    - name: Setup Python
      uses: astral-sh/setup-uv@v7
      with:
        python-version: "3.10"

    - name: Build Docs
      run: uv run --group docs sphinx-ape build --mode "${{ github.event_name }}"

    - name: Doctesting
      run: uv run --group docs sphinx-ape test

    - name: Commit and publish documentation changes to gh-pages branch
      if: ${{ github.event_name == 'push' && github.ref == 'refs/heads/main' || github.event_name == 'release' }}
      run: |
        uv run --group docs sphinx-ape publish --skip-push --repo ${{ github.repository }}
        cd gh-pages
        git config --local user.email "action@github.com"
        git config --local user.name "GitHub Action"
        git add .
        git commit -m "Update documentation" -a || true

    - name: Push changes
      if: ${{ github.event_name == 'push' && github.ref == 'refs/heads/main' || github.event_name == 'release' }}
      uses: ad-m/github-push-action@master
      with:
        branch: gh-pages
        directory: gh-pages
        github_token: ${{ inputs.github-token }}

# TODO: Figure out why this doesn't work??
#    - name: Ape Docs
#      uses: apeworx/sphinx-ape@main
#      with:
#        github-token: ${{ secrets.GITHUB_TOKEN }}
