name: Docs

on:
  push:
    branches: [main]
  release:
    types: [released]
  pull_request:
    types: [opened, synchronize]

jobs:
  docs:
    runs-on: ubuntu-latest

    permissions:
      contents: write

    steps:
    - uses: actions/checkout@v4

    - name: Setup Python
      uses: actions/setup-python@v5
      with:
        python-version: "3.10"

    - name: Ape Docs
      uses: apeworx/sphinx-ape@main
      with:
        github-token: ${{ secrets.GITHUB_TOKEN }}
