on: ["push", "pull_request"]

name: Test

concurrency:
  # Cancel older, in-progress jobs from the same PR, same workflow.
  # use run_id if the job is triggered by a push to ensure
  # push-triggered jobs to not get canceled.
  group: ${{ github.workflow }}-${{ github.head_ref || github.run_id }}
  cancel-in-progress: true

jobs:
    linting:
        runs-on: ubuntu-latest

        steps:
        - uses: actions/checkout@v5
          with:
            fetch-depth: 0

        - name: Setup Python
          uses: astral-sh/setup-uv@v7
          with:
              python-version: "3.10"

        - name: Run Ruff Lint
          run: uv run --group lint ruff check .

        - name: Run Ruff Format
          run: uv run --group lint ruff format --check .

        - name: Run mdformat
          run: uv run --group lint mdformat --check *.md docs/**/*.md

    type-check:
        runs-on: ubuntu-latest

        steps:
        - uses: actions/checkout@v5
          with:
            fetch-depth: 0

        - name: Setup Python
          uses: astral-sh/setup-uv@v7
          with:
              python-version: "3.10"

        - name: Run MyPy
          run: uv run --group lint --group test mypy .

    test:
        runs-on: ${{ matrix.os }}

        strategy:
            matrix:
                os: [ubuntu-latest, macos-latest]   # eventually add `windows-latest`
                python-version: ["3.10", "3.11", "3.12", "3.13", "3.14"]

        env:
          GITHUB_ACCESS_TOKEN: ${{ secrets.GITHUB_TOKEN }}

        steps:
        - uses: actions/checkout@v5
          with:
            fetch-depth: 0

        - name: Setup Python
          uses: astral-sh/setup-uv@v7
          with:
              python-version: ${{ matrix.python-version }}

        - name: Install Geth
          uses: ApeWorX/geth-action@v1

        - name: Run Functional Tests
          run: |
            uv run --group test ape test \
              -s -v ERROR \
              -n auto --dist loadgroup \
              -m "not hypothesis" \
              --cov=src --cov-append \
              tests/functional

        - name: Run Integration Tests
          run: |
            uv run --group test ape test \
              -s -v ERROR \
              -n auto --dist loadgroup \
              -m "not hypothesis" \
              --cov=src --cov-append \
              tests/integration

        - name: Run Performance Tests
          run: |
            uv run --group test ape test \
              -s -v ERROR \
              tests/performance

    fuzzing:
        runs-on: ubuntu-latest

        strategy:
            fail-fast: true

        steps:
        - uses: actions/checkout@v5
          with:
            fetch-depth: 0

        - name: Setup Python
          uses: astral-sh/setup-uv@v7
          with:
              python-version: "3.10"

        - name: Run Tests
          run: uv run --group test ape test -s -m "hypothesis" --no-cov
