on: ["push", "pull_request"]

name: Test

concurrency:
  # Cancel older, in-progress jobs from the same PR, same workflow.
  # use run_id if the job is triggered by a push to ensure
  # push-triggered jobs to not get canceled.
  group: ${{ github.workflow }}-${{ github.head_ref || github.run_id }}
  cancel-in-progress: true

jobs:
    linting:
        runs-on: ubuntu-latest

        steps:
        - uses: actions/checkout@v4

        - name: Setup Python
          uses: actions/setup-python@v5
          with:
              python-version: "3.10"

        - name: Install Dependencies
          run: |
            python -m pip install --upgrade pip
            pip install .[lint]

        - name: Run Black
          run: black --check .

        - name: Run isort
          run: isort --check-only .

        - name: Run flake8
          run: flake8 .

        - name: Run mdformat
          run: mdformat . --check

    type-check:
        runs-on: ubuntu-latest

        steps:
        - uses: actions/checkout@v4

        - name: Setup Python
          uses: actions/setup-python@v5
          with:
              python-version: "3.10"

        - name: Install Dependencies
          run: |
            python -m pip install --upgrade pip
            pip install .[lint,test]

        - name: Run MyPy
          run: mypy .

    test:
        runs-on: ${{ matrix.os }}

        strategy:
            matrix:
                os: [ubuntu-latest, macos-latest]   # eventually add `windows-latest`
                python-version: [3.9, "3.10", "3.11", "3.12"]

        env:
          GITHUB_ACCESS_TOKEN: ${{ secrets.GITHUB_TOKEN }}

        steps:
        - uses: actions/checkout@v4
          with:
            fetch-depth: 0

        - name: Setup Python
          uses: actions/setup-python@v5
          with:
              python-version: ${{ matrix.python-version }}

        - name: Setup Go
          uses: actions/setup-go@v5
          with:
            go-version: '^1.20.7'

        - name: Install Geth
          uses: gacts/install-geth-tools@v1
          with:
            version: 1.14.5

        - name: Install Dependencies
          run: |
            python -m pip install --upgrade pip
            pip uninstall eth-ape --yes
            pip install .[test]

        - name: Run Functional Tests
          run: ape test tests/functional -m "not fuzzing" -s --cov=src --cov-append -n auto --dist loadgroup

        - name: Run Integration Tests
          run: ape test tests/integration -m "not fuzzing" -s --cov=src --cov-append -n auto --dist loadgroup

        - name: Run Performance Tests
          run: ape test tests/performance -s

    fuzzing:
        runs-on: ubuntu-latest

        strategy:
            fail-fast: true

        steps:
        - uses: actions/checkout@v4

        - name: Setup Python
          uses: actions/setup-python@v5
          with:
              python-version: "3.10"

        - name: Install Dependencies
          run: |
            python -m pip install --upgrade pip
            pip install .[test]

        - name: Run Tests
          run: ape test -m "fuzzing" --no-cov -s
